body{
    background-image: linear-gradient(#e71313,#d03c3c,#d47e7e,#dc8888);
    
}

@media only screen and (max-width: 320px) {
    body{
        background-image: linear-gradient(#e71313,#d03c3c,#d47e7e,#dc8888);
    }
    .stopwatch{
 font-size: 40px !important;
}
  }
  @media only screen and (max-width: 320px) {
    .timeval{
        margin: 4px !important;
        font-size: 15px !important;
    }
      }

  .stopwatch{
    text-align: center; 
    font-size: 60px
  }

.time{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.time1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px !important;
}
.timeone{ 
    border: 2px navy;
    padding: 10px 20px 10px 20px  !important;
    margin: 8px !important;
    font-size: 40px !important;
    background-color:navy;
    color: navajowhite;
    border-radius: 6px !important;
}
.timeval{
    margin: 4px !important;
    font-size: 30px !important;
}
.time2{
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 35% !important;
}
.time2one{
    padding: 10px !important;
    font-size: 30px !important;
    background-image: linear-gradient(rgb(42, 50, 165), rgb(0, 255, 13), rgb(255, 192, 241) ) ;
    border-radius: 6px !important;
    margin-right: 10px !important;
    outline: none;
}